---
---

@use "normalize";
@use "variables";
@use "code";

body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: variables.$body-text-color;
}

header {
  background-color: #008080;
  color: #ffffff;

  a {
    color: #ffffff;
  }
}

#skip-to-content {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;

  &:focus {
    position: fixed;
    top: 10px;
    left: 10px;
    height: auto;
    width: auto;
  }
}

.project-name {
  display: block;
  font-size: 2em;
  margin: 0.67em 0;
  color: #ffffff;
  font-weight: bold;
}

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem;
  }
}

.project-name:hover {
  text-decoration: none;
}

.project-tagline {
  display: block;
}

a[target=_blank]:after { 
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin: 0 3px 0 5px;
}